@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-header-one {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.67em 0;
}

.custom-header-two {
  font-size: 2em;
  font-weight: bold;
  margin: 0.75em 0;
}

.custom-header-three {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.83em 0;
}

.custom-header-four {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
}

